<% provide(:title, 'Edit Contact') %>

<div class="hero-unit-white">

<h1>Edit Contact</h1>

<p>When a user wants to purchase a book you posted, these contact details will be given to them<p> 

</div>